/* Style.css */


.info{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: #606060;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
    
  }
  
  .product_price span{
    font-weight: bold;
  }
  .product_price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #a3a3a3;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f3f3f3;
    
  }
  .value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: #606060;
    background-color: #f8f8f8;
    border-bottom: 1px solid #f3f3f3;
    
    
  }


  hr 
  { 
    background-color: rgb(230, 230, 230);
     height: 1px;
      border: 0;
   }
  
   